* {
    font-family: helvetica;
}

body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: white;
    background: #202124;
    margin: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background: #202124;
}

h2 {
    margin-top: 50px;
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    background: #202124;
}

h3 {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    background: #202124;
}

a {
    color: #98ECC3;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

section {
    margin-top: 30px;
    padding: 10px;
}

.container {
    padding-top: 10%;
    width: 100%;
    background-color: #202124;
}

#main {
    width: 100%;
    background-color: #202124;
    margin: auto;
    width: 968px;
    padding-bottom: 5%;
    margin-bottom: 5px;
}

li a:hover:not(.active) {
    background-color: #ffffff;
}

.active {
    background-color: #202124;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin-right: auto;
}

.topnav {
    overflow: hidden;
    background-color: #202124;
    width: 100%;
    display: flex;
    justify-content: center;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
    border: #cccccc;
}

.topnav a:hover {
    background-color: #202124;
    color: #98ECC3;
    border: 2px solid #98ECC3;
}

.topnav a.active {
    background-color: #0B2D3D;
    color: white;
}

/* Clearfix (clear floats) */

@media screen and (max-width: 10000px) {
    #main {
        width: 700px;
    }
}

@media screen and (max-width: 980px) {
    #main {
        width: 600px;
    }
}

@media screen and (max-width: 768px) {
    #main {
        width: 500px;
    }
}

@media screen and (max-width: 640px) {
    #main {
        width: 300px;
    }
}

@media screen and (max-width: 440px) {
    #main {
        width: 300px;
    }
}