body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #777777;
    background: #ffffff;
    margin: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #98ECC3;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background: #ffffff;
}

h2 {
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
    color: #98ECC3;
    background: #ffffff;
}

a {
    color: #4aaaa5;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

section {
    margin-top: 30px;
    padding: 10px;
}

button {
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    background-color: #98ECC3;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    padding-top: 10%;
    width: 100%;
    background-color: #ddd;
    height: 100%;
}

.hr {
    line-height: 1px;
    width: 75%;
    color: lightgrey;
}

#main {
    width: 100%;
    background-color: white;
    margin: auto;
    width: 968px;
    border: 2px solid lightgray;
}

#image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float: left;
}

li a:hover:not(.active) {
    background-color: #ffffff;
}

.active {
    background-color: #0B2D3D;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin-right: auto;
}

.topnav {
    overflow: hidden;
    background-color: #0B2D3D;
    width: 100%;
    display: flex;
    position: fixed;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: #cccccc;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #0B2D3D;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0B2D3D;
    color: white;
    text-align: center;
    font-size: smaller;
    display: block;
}

.column {
    display: inline-block;
    width: 25%;
    padding: 5px;
    height: auto;
    margin: 2%;
}

/* Clearfix (clear floats) */

@media screen and (max-width: 980px) {
    #main {
        width: 700px;
    }
}

@media screen and (max-width: 768px) {
    #main {
        width: 600px;
    }
}

@media screen and (max-width: 640px) {
    #main {
        width: 400px;
    }
}